# Core Terraform directories
.terraform/

# Local state files and backups
*.tfstate
*.tfstate.*

# Crash logs (in case a command fails)
crash.log
crash.*.log

# Exclude all variable files (often contain secrets)
*.tfvars
*.tfvars.json

# Exclude override files (used for temporary local tweaks)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude CLI configuration files
.terraformrc
terraform.rc